.form {
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    padding: 2rem 1rem;
    width: 30%;
}

.icon {
    background: linear-gradient(135deg, rgb(92, 92, 255), rgb(62, 252, 148));
    border-radius: 1.25rem;
    padding: 1rem;
}